{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>طباعة الفاتورة</title>
    <style>
        @page {
            @bottom-right {
                content: ' ( ' counter(page) ' / ' counter(pages) ' ) ';
				font-size: 25px;
            }
            @bottom-left {
                content: "{{ user }} {{ date|date:'d-m-Y H:i' }}";
				font-size: 25px;
            }
        }
    </style>
</head>
<body>
    <div style="margin-top: -100px">
        <table class="headname">
            <tr>
                <td style="border: none">
                    <h2 style="margin-top: 50px; margin-left:-70px">
                    التاريخ :
                    {{ invoice.date|date:'d-m-Y' }}
                    </h2>
                    <h2 style="margin-top: -10px; margin-left:-70px">
                    السيد /
                    {{ invoice.customer }}
                    </h2>
                </td>
                <td style="border: none"></td>
                <td style="border: none">
                    <h1 style="margin-right:-70px" id="shop_name">{{ shop_setting.name }}</h1>
                    <h2 style="margin-top: -20px; margin-right:-70px">{{ shop_setting.address }}
                        <img src="{% static 'assets/images/geo.png' %}" style="margin-left: 5px" width="25px" height="25px">
                    </h2>
                    <h2 style="margin-top: -15px; margin-right:-70px">+20 {{ shop_setting.phone }}
                        <img src="{% static 'assets/images/phone_call.png' %}" style="margin-left: 5px" width="23px" height="23px">
                    </h2>
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 123%; margin-left:-75px; text-align: center; margin-top: -30px">
        <h1 style="border: 1px solid #6495ED; border-radius: 10px; padding: 10px; background-color: white;">
            {% if invoice.invoice_type == 1 %}
			فاتورة
            مبيعات
            {% elif invoice.invoice_type == 2 %}
			فاتورة
            مرتجع مبيعات
            {% elif invoice.invoice_type == 3 %}
            بيان أسعار
            {% endif %}
            {% if invoice.invoice_product_type == 1 %}
            مكينات
            {% else %}
            قطع غيار
            {% endif %}
            "{{ invoice.id }}"
        </h1>
    </div>
    <div>
        <table class="prods">
            <thead>
                <tr style="background-color: white; color: black">
                    <td>الإجمالي</td>
                    <td>سعر الوحدة</td>
					<td>الكمية</td>
                    <td>الصنف</td>
                    <td>م</td>
                </tr>
            </thead>
            <tbody>
                {% for item in invoice_items %}
                <tr>
                    <td>
                        {{ item.total_price }}
                    </td>
                    <td>
                        {{ item.unit_price }}
                    </td>
					<td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {% if invoice.invoice_product_type == 1 %}
                        {{ item.item.name }}
                        {% else %}
                        {{ item.item_spare.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ forloop.counter }}
                    </td>
                </tr>
                {% endfor %}

                <tr style="background-color:transparent; border: none">
                <td style="background-color:white; color: black; border: none"></td>
                <td style="background-color:white; color: black; border: none"></td>
                </tr>

                <tr style="background-color:transparent">
                <td style="background-color:white; color: black">
                    {{ invoice.total }}
                </td>
                <td style="background-color:white; color: black">اجمالي الفاتورة</td>
                </tr>
                <tr style="background-color:transparent">
                    <td style="background-color:white; color: black">
                        {{ invoice.discount }}
                    </td>
                    <td style="background-color:white; color: black">قيمة الخصم</td>
                    <td colspan="3" style="border: none">
                        المطلوب:
                        {{ invoice.overall }}
                         ج.م
                    </td>
                </tr>
                <tr style="background-color:transparent">
                    <td style="background-color:white; color: black">
                        {{ invoice.overall }}
                    </td>
                    <td style="background-color:white; color: black">صافي الفاتورة</td>
                    <td colspan="3" style="border: none">
                        شكرا لتعاملكم معنا
                    </td>
                </tr>
                <tr style="background-color:transparent">
                    <td style="background-color:white; color: black">
                        {{ invoice.paid_value }}
                    </td>
                    <td style="background-color:white; color: black">المدفوع</td>
                </tr>
                <tr style="background-color:transparent">
                    <td style="background-color:white; color: black">
                        {{ invoice.residual_value }}
                    </td>
                    <td style="background-color:white; color: black">الباقي</td>
                    <td colspan="3" style="border: none">
                    </td>
                </tr>
                {% if invoice.residual_value_pay_date %}
                <tr style="background-color:transparent">
                    <td style="background-color:white; color: black">{{ invoice.residual_value_pay_date|date:'Y-m-d' }}</td>
                    <td style="background-color:white; color: black">تاريخ دفع الباقي</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>